<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="../styles/main.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <nav>
          <div class="nav-left">
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/blog">Blog</a></li>
            </ul>
          </div>
        </nav>
      </header>
        <div class="post-meta">
          <time>{{date}}</time>
          <nav class="post-navigation">
            <div class="nav-previous">
              {{#if previousPost}}
              <a href="{{previousPost}}" class="nav-link">Previous</a>
              {{/if}}
            </div>
            <div class="nav-next">
              {{#if nextPost}}
              <a href="{{nextPost}}" class="nav-link">Next</a>
              {{/if}}
            </div>
          </nav>
        </div>
      <div class="content-wrapper">
        <main>
          <article>{{content}}</article>
        </main>
      </div>
    </div>
  </body>
</html>
